ul { 
  list-style-type: none; 
}

.about {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
    color: #333333;
    animation: transitionIn 3s;
}

.aboutTop {
    display: flex;
}

.aboutBottom {
    display: flex;
    margin-right: 50px;
    margin-bottom: 100px;
}
.role {
    color: #454444
}

.detail {
    color: #565555
}

.picture {
    margin-top: 100px;
}

.skill {
    margin-left: 200px;
}

.list {
    margin: 10px 10px 20px 10px;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}