a {
    text-decoration: none;
}

.contact {
    display: flex;
    justify-content: space-around;
    animation: transitionIn 2s;
    margin-top: 100px;
    margin-left: 50px;
}

.socialMedia {
    display: flex;
    margin-top: 50px;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-right: 100px;
}

.iconContainer :hover {
    background-color: #CDCFD4;
}

.iconList {
    background-color:#E4DED7; 
    margin-right: 50px;
    border-radius: 10%;;
    height: 200px;
    display: inline-block;
}

.socialText {
    display: none;
}

.icon {
color: black;
margin: 80px;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}